<div class="about-page">
  <div class="wide-container about-padding">
      <h1> WHO ARE WE? </h1>
      <h2> BLUEPRINTERS </h2>
  </div>
  <div class="wide-container" id="about-banner">
    <a class="button about-button" onclick="smoothScroll('process')"> Our Process </a>
    <a class="button about-button" onclick="smoothScroll('team')"> Our Team </a>
    <a class="button about-button" onclick="smoothScroll('story')"> Our Story </a>
  </div>

  <div class="about-section about-padding" id="process">
    <h1> OUR PROCESS </h1>
    <!-- <h2> BLUEPRINTERS </h2> -->
    <div class="about-process-container">
      <div class="about-process-circle">
        <div class="about-process-figures">
          <img class="about-process-figure-left" src="<%= asset_path("daughter.png") %>">
          <img class="about-process-figure-right" src="<%= asset_path("daughter.png") %>">
        </div>

        <img class="about-process-icon" id="icon-one" src="<%= asset_path("p_inspiration.png") %>">
        <img class="about-process-icon" id="icon-two" src="<%= asset_path("p_ideation.png") %>">
        <img class="about-process-icon" id="icon-three" src="<%= asset_path("p_training.png") %>">
        <img class="about-process-icon" id="icon-four" src="<%= asset_path("p_funding.png") %>">
        <img class="about-process-icon" id="icon-five" src="<%= asset_path("p_mentoring.png") %>">
        <img class="about-process-icon" id="icon-six" src="<%= asset_path("p_technology.png") %>">
        <img class="about-process-icon" id="icon-seven" src="<%= asset_path("p_impact.png") %>">
        <img class="about-process-icon" id="icon-eight" src="<%= asset_path("p_reinvesting.png") %>">

        <img class="about-process-arrow" id="arrow-one" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-two" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-three" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-four" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-five" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-six" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-seven" src="<%= asset_path("p_arrow.png") %>">
        <img class="about-process-arrow" id="arrow-eight" src="<%= asset_path("p_arrow.png") %>">

      </div>
      <div class="about-process-square">
        <div class="about-process-text">
          <h2 class="about-process-text-title">Hover</h2>
          <p class="about-process-text-paragraph">
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, featuring big elephants, bright sunsets, and vector images.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-section-team about-padding" id="team">
    <h1> OUR TEAM </h1>
    <h4> DEDICATED TO GOOD </h4>
    <div class="about-team-container">
      <div class="about-member-container">
        <img src="<%= asset_path("member_one.png") %>" alt="Kevin">
        <div class="about-member-text">
          <h2 class="about-member-name"> Kevin Wu </h2>
          <h2 class="about-member-title"> President </h2>
          <p class="about-member-content">
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. How could you think this isn't Kevin? How could you??
          </p>
        </div>
      </div>

      <div class="about-member-container">
        <img src="<%= asset_path("member_two.png") %>" alt="Kevin">
        <div class="about-member-text">
          <h2 class="about-member-name"> Kevin Wu </h2>
          <h2 class="about-member-title"> President </h2>
          <p class="about-member-content">
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. How could you think this isn't Kevin? How could you??
          </p>
        </div>
      </div>

      <div class="about-member-container">
        <img src="<%= asset_path("member_four.png") %>" alt="Kevin">
        <div class="about-member-text">
          <h2 class="about-member-name"> Kevin Wu </h2>
          <h2 class="about-member-title"> President </h2>
          <p class="about-member-content">
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. How could you think this isn't Kevin? How could you??
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="about-section about-padding" id="story">
      <h1> OUR STORY </h1>
      <h4> DOING GREAT THINGS </h4>
    <div class="small-container about-padding">
    	  <p>
          This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students.
          Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. Accept it. This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. Blueprint is a racially diverse club.
         </p>
    </div>
  </div>
</div>
