<div class="wide-container" id="home-banner">
  <div class="medium-container padding-center">
    <h1 class="white"> A Radical New Way to <br> Break the Cycle of Poverty </h1>
    <!--<div class="hide-medium" id="home-family"></div>-->
  </div>
</div>
<!--<div id="home-arrow"></div>-->
<div class="wide-container"></div>
<div class="wide-container">
  <div class="medium-container padding-vertical">
    <div class="home-wrapper">
      <div class="home-image">
        <img src="<%= asset_path('rita.png') %>">
      </div>
      <div class="home-text">
        <h2> It Starts with a Dream </h2>
        <br>
        <p> It all starts when someone in Africa has the courage to follow a dream. A dream of starting a business that breaks the cycle of poverty once and for all. </p>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-text home-left">
        <h2> A Fresh New Approach </h2>
        <br>
        <p> Elevate Africa helps people in the poorest regions of Africa reach their dreams through an innovative blend of microfinance, training, mentoring and technology, inspired by Silicon Valley’s highly successful “startup accelerator” model. </p>
      </div>
      <div class="home-image">
        <img src="<%= asset_path('rita1.png') %>">
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-image">
        <img src="<%= asset_path('rita2.png') %>">
      </div>
      <div class="home-text">
        <h2> Innovation Driving Impact </h2>
        <br>
        <p> We like to invest in innovative businesses that make a difference for families and communities on multiple levels. Our entrepreneurs do everything from making soap that protects against malaria, to building solar ovens that save money and protect the environment at the same time. </p>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-text home-left">
        <h2> And Changing Lives </h2>
        <br>
        <p> Proceeds from these businesses help put food on the table, buy medicine for the baby, and give kids the gift of education. Since nearly 80 percent of our entrepreneurs are women, we’re also helping to change a few minds along the way. </p>
      </div>
      <div class="home-image">
        <img src="<%= asset_path('rita3.png') %>">
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-image">
        <img src="<%= asset_path('rita4.png') %>">
      </div>
      <div class="home-text">
        <h2> With Incredible Leverage </h2>
        <br>
        <p> Because we work in some of the poorest regions in the world, your donation has tremendous leverage. A small investment in Elevate Africa can help an entrepreneur learn key business skills, pay for 1:1 mentoring from an experienced business coach, or even fund an entirely new business </p>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-text home-left">
        <h2> That Keeps On Growing </h2>
        <br>
        <p> The best part is that your donation keeps on growing. When an Elevate Africa entrepreneur pays back her loan, that same money goes back into the loan pool to help the next group of entrepreneurs. Or to fund the expansion of her growing business with a new loan. It’s an amazing multiplier effect that means even a small donation can impact 10s, 100s, or even 1000s of people over time. </p>
      </div>
      <div class="home-image">
        <img src="<%= asset_path('rita5.png') %>">
      </div>
    </div>
  </div>
</div>
