<p>
  <Strong>From:</Strong> <%= @first_name %> <%= @last_name %>
</p>

<p>
  <Strong>Subject: </Strong><%= @subject %>
</p>

<p>
  <Strong>Email: </Strong><%= @email %>
</p>

<p>
  <Strong>Message: </Strong><%= @message %>
</p>

