<div class="user-dashboard-background">
  <div class="user-dashboard-container">
    <div id="user-dashboard-user">
      <% if @image.nil? %>
        <div id="user-dashboard-image-default"></div>
      <% else %>
        <div style="background-image: url(<% @image %>)"id="user-dashboard-image default"></div>
      <% end %>
      <h2 id="user-dashboard-name"><%= @user.name %></h2>
      <p id="user-dashboard-email">
        <span>
          <i class="fa fa-envelope user-icon-button icon"></i>
        </span>
        <%= @user.email %>
      </p>
      <p id="user-dashboard-description">
        <span>
          <i class="fa fa-square fa-male user-icon-button icon"></i>
        </span>
        <%= @title %>
      </p>
      <div id="user-dashboard-badges-container">
        <!-- <h2 id="user-dashboard-badges-title">Badges</h2> -->
        <!-- Badges Here -->
      </div>
      <h1 id="user-edit-buttons">
        <% if @user.admin? %>
          <span class="button-container">
            <%= link_to "Edit User", edit_user_path(@user), class: "edit-user-button button" %>
          </span>
        <% else %>
          <span class="button-container"><%= link_to "Edit Team" , edit_team_path(@user), class: "edit-user-button button" %></span>
        <% end %>

        <span class="button-container">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                    class: "sign-out-button button"
          %>
        </span>
      </h1>
    </div>
    <div id="user-dashboard-campaign-info">
      <% if current_user == @user %>
        <% if @user.admin? %>
          <%= render 'admin_dashboard', user: @user %>
        <% else %>
          <%= render 'team_dashboard', user: @user, campaign: @campaign %>
        <% end %>
      <% else %>
          <%= render 'no_dashboard' %>
      <% end %>
    </div>
<!--     <h1>User Dashboard</h1>
    <% if current_user && @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "button" %>
      <% if @campaign %>
        <% if @campaign.blank? %>
          <%= link_to "Start a new campaign!", new_campaign_path, class: 'button' %>
        <% else %>
          <%= link_to "Check out your campaign!", campaign_path(@campaign), class: 'button' %>
        <% end %>
      <% end %>
      <%= link_to "Log Out", destroy_user_session_path,
                                method: :delete,
                                class: "button" %>
    <% end %> -->
  </div>
</div>
