<%= simple_form_for @donation do |f| %>
  <p>
    <%= f.input :name %>
  </p>

  <div class="field">
    <%= f.input :amount, id: "donate-amount" %>
  </div>
  <!-- MAKE SURE TO VALIDATE THIS SOME MORE WHOEVER IS WORKING ON THIS PAGE -->
  <div>
    <%= f.submit "Donate!", id: "customButton" %>
  </div>
<% end %>

<%= render 'stripe' %>
