<div id="campaign-donation-container">
  <div id="campaign-donation-image-container"></div>
  <div id="campaign-donation-content-container">
    <div id="campaign-donation-form">
      <h1 id="campaign-donation-title">Donate</h1>
      <h4 id="campaign-donation-subtitle">Join the adventure!</h4>
      <%= simple_form_for @donation do |f| %>
        <p>
          <%= f.input :name, label: false,
                             placeholder: "Name (optional)",
                             input_html: { id: "campaign-donation-name"} %>
        </p>


        <div id="campaign-donation-amount-container">
          <div id="campaign-donation-dollar-sign">$</div>
          <%= f.input :amount, label: false,
                               input_html: { id: "donate-amount",
                                             value: 5 },
                               as: :string %>
          <div id="campaign-donation-usd">USD</div>
        </div>

        <div id="campaign-donation-slider"></div>

        <%= f.hidden_field :campaign_id, value: campaign.id %>

        <div>
          <%= f.submit "Help these adventurers!", id: "donate-create-button", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
