<%= simple_form_for [@campaign, @donation] do |f| %>
  <p>
    <%= f.input :name %>
  </p>

  <div class="field">
    <%= f.input :amount, id: "donate-amount" %>
  </div>

  <div>
    <%= f.submit "Donate!", id: "customButton" %>
  </div>
<% end %>

<%= render 'stripe' %>
