<%= simple_form_for [@campaign, @donation] do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this campaign from being edited: </h2>
      <ul>
        <% @donation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.input :name %>
  </p>

  <div class="field">
    <%= f.input :amount, id: "donate-amount" %>
  </div>

  <div>
    <%= f.submit "Donate!", id: "customButton" %>
  </div>
<% end %>

<script>
  var handler = StripeCheckout.configure({
    key: "pk_test_dMePjt4Mgya6EMonDTxv5abB",
    token: function(token) {
      var $input = $('<input type=hidden name=stripeToken />').val(token.id);
      var $input = $('<%=>').val(token.email);
      $('form').append($input).submit();
    }
  });

  $('#customButton').click(function(e) {
    // Open Checkout with further options
    var amount = $("#donate-amount").val()
    handler.open({
      name: 'Donation Payment!',
      description: 'Amt: ' + "$" + amount,
      amount: amount * 100
    });
    e.preventDefault();
  });
</script>
