<div class="wide-container padding">
  <h1>All Donations</h1>
  <table class="small-container padding">
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>

    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.name %></td>
        <td><%= donation.amount %></td>
        <td><%= link_to "show", campaign_donation_path(donation) %></td>
        <td><%= link_to "edit", edit_campaign_donation_path(donation) %></td>
        <td><%= link_to "destroy", campaign_donation_path(donation), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
  <h2><%= link_to "new donation?", new_campaign_donation_path %></h2>
</div>