<div id="general-donation-container">
  <div id="general-donation-image-container"></div>
  <div id="general-donation-content-container">
    <div id="general-donation-form">
      <h1 id="general-donation-title">Donate!</h1>
      <h4 id="general-donation-subtitle">Crowdfund a Business</h4>
      <%= simple_form_for @donation do |f| %>
        <p>
          <%= f.input :name, label: false,
                             placeholder: "Name (optional)",
                             input_html: { id: "general-donation-name"} %>
        </p>

        <div id="general-donation-amount-container">
          <div id="general-donation-dollar-sign">$</div>
          <%= f.input :amount, label: false,
                               input_html: { id: "donate-amount",
                                             value: 5 },
                               as: :string %>
          <div id="general-donation-usd">USD</div>
        </div>

        <div id="general-donation-slider"></div>

        <% if @campaign %>
          <%= f.hidden_field :campaign_id, value: @campaign.id %>
        <% end %>

        <div>
          <%= f.submit "Donate!", id: "donate-create-button", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'stripe' %>
