<div data-sr class="buzz-box-<%= buzz.box_size %>">
  <% if buzz.picture? %>
    <div style="background-image: url(<%= buzz.picture_url %>)" class="buzz-image">
  <% else %>
    <div class="buzz-image-default">
  <% end %>
    <div class="buzz-info-container">
      <div style="background-color: <%= buzz.box_color %>" class="buzz-background"></div>
      <div class="buzz-info">
        <h1>
          <%= link_to truncate_headline(buzz), buzz_path(buzz), class:"buzz-headline" %>
        </h1>
        <p><%= link_to "Read More", buzz_path(buzz), class: "buzz-show" %></p>
        <!-- <span class="socialShare buzz-share"></span> -->
      </div>
    </div>
  </div>
</div>
