<div class="wide-container" id="buzz-banner">
  <div id="buzz-black-cover">
    <div id="buzz-title-container">
      <h1 id="buzz-title">HELLA BUZZ YO</h1>
      <h2 id="buzz-button">Check it out!</h2>
    </div>
  </div>
</div>

<div id="buzz-headline-container">
  <% if valid_admin? %>
    <i><%= link_to "", new_buzz_path, class: "fa fa-plus-square fa-5x" , id: "buzz-create-button" %></i>
  <% end %>
  <h2 id="buzz-headline">What We're Up To</h2>
</div>

<% @buzzes.each do |buzz| %>
  <% if buzz.picture? %>
    <div class="buzz-small-box">
      <div style="background-image: url(<%= buzz.picture_url %>)" class="buzz-image">
        <div class="buzz-info-container">
          <div style="background: <%= buzz.box_color %>" class="buzz-info">
            <p class="buzz-time"><%= buzz.get_date %></p>
            <h1 class="buzz-headline"><%= buzz.headline %></h1>
            <p><%= link_to "Read More", buzz_path(buzz), class: "buzz-show" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
