<div style="background-image: url(<%= @buzz.picture_url %>)" wide-container id="buzz-show-banner"></div>

<% if current_user && current_user.is_admin? %>
  <h2 id="buzz-edit-buttons">
    <i><%= link_to "", edit_buzz_path(@buzz), class: "fa fa-pencil-square buzz-icon-button" %></i>
    <i>
      <%= link_to "", buzz_path(@buzz), method: :delete,
                      class: "fa fa-minus-square buzz-icon-button",
                      data: { confirm: "Are you sure you want to this? The buzz cannot be recovered" } %>
    </i>
  </h2>
<% end %>

<div id="buzz-show-title-container">
  <h3 id="buzz-show-headline"><%= @buzz.headline %></h3>
  <h4 id="buzz-show-subhead"><%= @buzz.subhead %></h4>
  <h5 id="buzz-show-tag"><%= @buzz.tag %> | <%= @buzz.get_date %></h5>
</div>

<div id="buzz-show-content-container">
  <%= simple_format @buzz.content.gsub(/\r\n/,"<br />"), id: "buzz-show-content" %>
  <div id="buzz-line-separator"></div>
  <% if @buzz.video_link %>
    <div id="buzz-video">
    <iframe title="Video player"
            type="text/html" src="<%=get_url(@buzz.video_link) %>"
            width="480" height="270"
            frameborder="0" allowFullScreen>
    </iframe>
    </div>
  <% end %>
</div>
