 <div class="wide-container padding">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.input :email, autofocus: true, label: false, placeholder: "Email" %>
    </div>

    <div>
      <%= f.input :password, autocomplete: "off", label: false, placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.input :remember_me, as: :boolean %>
      </div>
    <% end -%>

    <div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <!-- <%= render "devise/shared/links" %> -->
</div>
