<div class="campaign-wrapper">
  <div class="wide-container" id="campaign-padding">
    <h1><%= @campaign.name %></h1>
  </div>
  <div class="medium-container">
    <div class="campaign-info-wrapper">
      <% if @total_donations >= @campaign.goal %>
        <div id="campaign-complete-banner">
          <h2 class="campaign-complete-banner-font"><%= @campaign.name %> has been fully funded!</h2>
        </div>
      <% end %>
      <div class="campaign-info">
        <div class="campaign-info-container">
          <div id="campaign-picture">
            <%= image_tag(@campaign.picture_url) unless @campaign.picture_url.nil? %>
          </div>
          <div id="campaign-by-names">
            <p id="campaign-by-font">Campaign By:</p>
            <h2 id="campaign-owner-font">by <%= @team.name %></h2>
          </div>
        </div>
        <div class="campaign-info-container" id="campaign-money-container">
          <h1 class="campaign-info-margin" id="campaign-donation"><%= "$#{@total_donations}" %><span style="font-size:20px">USD</span></h1>
          <p id="campaign-total">Raised out of <strong><%= "$#{@campaign.goal}" %></strong></p>
        </div>
        <div class="campaign-info-container campaign-progress-bar-container" id="campaign-progress-container">
          
          <div class="campaign-info-margin" id="campaign-progress">
            <div id="campaign-show-bar" class="campaign-index-bar"></div>
            <h2 id="campaign-percentage-font" class="campaign-index-percentage"><%= number_to_percentage(@campaign.get_donation_percentage * 100, precision: 0) %>
            </h2>
          </div>
        </div>
        <div class="campaign-info-container campaign-detail">
          <div class="campaign-vectors"></div>
          <div class="campaign-numbers">
              <% if @donations.count < 2 %>
                <p class="campaign-numbers-font" id="campaign-numbers-font-yellow"><%= @donations.count %></p><p class="campaign-numbers-font">backers</p>
              <% else %>
                <p class="campaign-numbers-font" id="campaign-numbers-font-yellow"><%= @donations.count %></p><p class="campaign-numbers-font">backers</p>
              <% end %>
          </div>
          <div class="campaign-vectors" id="campaign-clock"></div>
          <div class="campaign-numbers">
              <p class="campaign-numbers-font" id="campaign-numbers-font-yellow">42<%= @campaign.duration %></p><p class="campaign-numbers-font">days left</p>
          </div>
        </div>
        <div id="campaign-info-button">
          <%= link_to "DONATE NOW", new_donation_path(:id => @campaign), class: "button", id: "campaign-donate-button" %>
        </div>
      </div>
    </div>
  </div>
  <div class="wide-container">
    <h1 id="campaign-overview-font">Campaign Overview</h1>
    <div class="campaign-tabs">
      <ul class="campaign-tab-links">
        <li class="campaign-active"><a href="#campaign-tab1">ABOUT</a></li>
        <li><a href="#campaign-tab2">BACKERS</a></li>
        <li><a href="#campaign-tab3">CAMPAIGN BY</a></li>
      </ul>

      <div class="campaign-tab-content margin-bottom">
        <div id="campaign-tab1" class="campaign-tab campaign-active">
          <h2 class="campaign-overview-title">ABOUT<h2>
          <p class="campaign-overview-font"><%= @campaign.description %></p>
        </div>
        <div id="campaign-tab2" class="campaign-tab">
          <h2 class="campaign-overview-title">BACKERS</h2>
          <p class="campaign-overview-font">
            <% if @campaign.donations.any? %>
              <table id="campaign-backer-table">
                <% @donations.each do |donation| %>
                  <tr class="campaign-backers-row">
                    <td class="campaign-backer-name"><%= donation.name %></td>
                    <td class="campaign-backer-amount"><%= "$#{donation.amount}" %><span style="font-size:20px;">USD</span></td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <div class="campaign-no-donations">No donations yet!</div>
            <% end %>
          </p>
        </div>
        <div id="campaign-tab3" class="campaign-tab">
          <h2 class="campaign-overview-title">CAMPAIGN BY</h2>
          <p class="campaign-overview-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum. Maecenas eleifend a nisl a aliquet. Phasellus vulputate orci a nisl dictum ultricies bibendum eget leo. Curabitur diam libero, tempor nec massa non, ultrices fringilla orci. Donec leo tellus, convallis et est pretium, consequat pellentesque justo. Donec erat elit, faucibus in iaculis eu, laoreet non arcu. Sed ut blandit sem. Etiam sit amet nunc porttitor, porttitor nulla et, iaculis leo. Maecenas mollis sem nisi, nec aliquam odio vehicula in. Aenean aliquam justo quis nulla euismod rutrum. Phasellus pulvinar dolor a sapien gravida, a pellentesque ipsum rhoncus. Pellentesque commodo blandit ante vitae tincidunt.</p>
        </div>
      </div>

  <div id="campaign-show-footer">
    <h2 class="campaign-show-footer-font margin-bottom">
      <%= link_to "<< BACK TO ALL CAMPAIGNS | ", campaigns_path %>
      <% if current_user == @campaign.team %>
        <%= link_to "EDIT MY CAMPAIGN | ", edit_campaign_path(@campaign) %>
      <% end %>
      <%= link_to "DONATE NOW", new_donation_path(:id => @campaign) %>
    </h2>
  </div>

</div>
