<%= form_for @campaign do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being edited: </h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="campaigns-create-first">
    <div class="campaigns-create-field">
      <%= f.label :name %><br>
      <%= f.text_field :name, value: "Kevin Wu" %>
    </div>

    <div class="campaigns-create-field">
      <%= f.label :goal %><br>
      <%= f.text_field :goal, value: "1000" %>
    </div>

    <div class="campaigns-create-field">
      <%= f.label :deadline %><br>
      <%= f.text_field :deadline, value: "90" %>
    </div>
    <div class="campaigns-create-button" onclick="campaignsCreateSecond()">CONTINUE</div>
  </div>

  <div class="campaigns-create-second">
    <div class="campaigns-create-field">
      <%= f.label :description %><br>
      <%= f.text_area :description, value: "Hi, nice site", size: "24x6" %>
    </div>

    <%= f.hidden_field :team_id, value: current_user.id %>

    <%= f.submit "SUBMIT", class: "campaigns-create-button" %>
  </div>
<% end %>
