<%= form_for @campaign do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being edited: </h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="campaigns-create-first">
    <div class="campaigns-create-field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Enter a name" %>
    </div>

    <div class="campaigns-create-field">
      <%= f.label :goal %><br>
      <%= f.text_field :goal, placeholder: "Enter a number" %>
    </div>

    <div class="campaigns-create-field">
      <%= f.label :deadline %><br>
      <%= f.text_field :deadline, placeholder: "Enter a number" %>
    </div>
    <div class="campaigns-create-button" onclick="campaignsCreateSecond()">CONTINUE</div>
  </div>

  <div class="campaigns-create-second">
    <div class="campaigns-create-field">
      <%= f.text_area :description %>
    </div>

    <div class="campaigns-create-example-buttons-container">
      <a class="campaigns-create-example-button" id="campaigns-create-example-one" onclick="campaignsChangeDescription('one')">Example 1</a>
      <a class="campaigns-create-example-button" id="campaigns-create-example-two" onclick="campaignsChangeDescription('two')">Example 2</a>
      <a class="campaigns-create-example-button" id="campaigns-create-example-custom" onclick="campaignsChangeDescription('custom')">Custom</a>
    </div>
    <div class="campaigns-create-button" onclick="campaignsCreateThird()">CONTINUE</div>
  </div>

  <div class="campaigns-create-third">
    <img id="campaigns-create-preview" src="<%= asset_path("image_placeholder.png") %>" alt="image preview">

    <div id="campaigns-create-hidden-upload">
      <%= f.file_field :picture, id: "campaigns-create-upload" %>
    </div>

    <div class="campaigns-create-picture-buttons-container">
      <a class="campaigns-create-picture-button" id="campaigns-create-picture-upload" onclick="campaignsChoosePicture()">Upload</a>
      <a class="campaigns-create-picture-button" id="campaigns-create-picture-choose">Choose</a>
    </div>
    <%= f.hidden_field :team_id, value: current_user.id %>

    <%= f.submit "SUBMIT", class: "campaigns-create-button" %>
  </div>
<% end %>
