<%= simple_form_for @campaign do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being edited: </h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="campaigns-create-1">
    <div class="campaigns-create-field">
      <%= f.input :name, label: "Campaign Name",
                         placeholder: "campaign name here",
                         autofocus: true,
                         input_html: { class: "campaign-form",
                                       id: "campaign-name" } %>
    </div>

    <div class="campaigns-create-field">
      <%= f.input :duration, label: "Campaign Duration",
                             placeholder: "duration in days here",
                             input_html: { class: "campaign-form",
                                           id: "campaign-duration" } %>
    </div>

    <div class="campaigns-create-field">
      <%= f.label :goal, "Campaign Goal" %><br>
      <span id="campaigns-create-dollar-sign" >$</span>
      <%= f.text_field :goal, value: "1,234",
                              class: "campaign-form",
                              id: "campaign-goal" %>
    </div>

    <div class="campaigns-create-field campaigns-create-drop-down">
      <%= f.label :kind, "Campaign Type" %>
      <%= f.select :kind, get_campaign_types %>
    </div>

    <div class="campaigns-create-button" id="campaigns-create-submit-one">Continue</div>
  </div>

  <div class="campaigns-create-2">
    <div class="campaigns-create-example-buttons-container">
      <a class="campaigns-create-example-button"
         id="campaigns-create-example-one"
         data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">Example 1</a>
      <a class="campaigns-create-example-button" id="campaigns-create-example-two" data-content="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.">Example 2</a>
      <a class="campaigns-create-example-button" id="campaigns-create-example-custom" data-content="">Custom</a>
    </div>

      <div class="campaigns-create-field campaigns-create-text-area">
        <%= f.text_area :description, placeholder: "campaign description here" %>
      </div>

    <div class="campaigns-create-button" id="campaigns-create-submit-two">Continue</div>
  </div>

  <div class="campaigns-create-3">
    <div class="campaigns-create-preview-container">
      <img id="campaigns-create-preview" src="<%= asset_path("image_placeholder.png") %>" alt="image preview"/>

      <div id="campaigns-create-picture-options-container">
        <img class="campaigns-create-picture-option campaigns-create-picture-option-left"
             src="<%= asset_path("create-pic-one.png") %>"
             onclick="campaignsChoosePicture('one')"
             alt="image preview"
             id="campaigns-create-picture-option-one"
             data-url="create-pic-one.png"
        />
        <img class="campaigns-create-picture-option"
             src="<%= asset_path("create-pic-two.png") %>"
             onclick="campaignsChoosePicture('two')"
             alt="image preview"
             id="campaigns-create-picture-option-two"
             data-url="create-pic-two.png"
        />
        <img class="campaigns-create-picture-option campaigns-create-picture-option-left"
             src="<%= asset_path("create-pic-three.png") %>"
             onclick="campaignsChoosePicture('three')"
             alt="image preview"
             id="campaigns-create-picture-option-three"
             data-url="create-pic-three.png"
        />
        <img class="campaigns-create-picture-option"
             src="<%= asset_path("create-pic-four.png") %>"
             onclick="campaignsChoosePicture('four')"
             alt="image preview"
             id="campaigns-create-picture-option-four"
             data-url="create-pic-four.png"
        />
      </div>
    </div>

    <div class="campaigns-create-picture-buttons-container">
      <a class="campaigns-create-picture-button" id="campaigns-create-picture-upload" onclick="campaignsUploadPicture()">
        Upload
        <p>your own photo</p>
      </a>
      <a class="campaigns-create-picture-button" id="campaigns-create-picture-choose" onclick="campaignsChooseOptions()">
        Choose
        <p>one of ours</p>
      </a>
    </div>

    <div id="campaigns-create-hidden-upload">
      <%= f.file_field :picture, id: "campaigns-create-upload" %>
    </div>

    <%= hidden_field_tag :picture_choose, "", id: "campaigns-create-hidden-picture" %>

    <% if !current_user %>
      <div class="campaigns-create-button" id="campaigns-create-submit-three">Almost There!</div>
    <% else %>
      <% if current_user && current_user.team? %>
        <%= f.hidden_field :team_id, value: current_user.id %>
        <%= f.submit "Finish", class: "campaigns-create-button" %>
      <% end %>
    <% end %>

  </div>

  <% if !current_user %>
    <div class="campaigns-create-4">
      <%= f.simple_fields_for @team do |t| %>
        <div class="campaigns-create-field">
          <%= t.input :name, label: "Name" %>
        </div>
        <div class="campaigns-create-field">
          <%= t.input :email %>
        </div>
        <div class="campaigns-create-field">
          <%= t.input :password %>
        </div>
        <div class="campaigns-create-field">
          <%= t.input :password_confirmation %>
        </div>
      <% end %>
      <%= f.submit "Finish", class: "campaigns-create-button" %>
    </div>
  <% end %>

<% end %>
