<div class="wide-container padding">
  <h1>All Campaigns</h1>
  <table class="small-container padding">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Deadline</th>
    </tr>

    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.description %></td>
        <td><%= number_to_currency campaign.goal %></td>
        <td><%= campaign.deadline %></td>
        <td><%= link_to "show", campaign_path(campaign) %></td>
        <td><%= link_to "edit", edit_campaign_path(campaign) %></td>
        <td><%= link_to "destroy", campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
  <% if can_create_campaign? current_user %>
    <h2><%= link_to "new campaign?", new_campaign_path %></h2>
  <% else %>
    <% if has_campaign? current_user %>
        <h2><%= link_to "Go to campaign!", campaign_path(current_user.campaign) %></h2>
    <% end %>
  <% end %>
</div>
