<div class="wide-container">
  <div id="campaign-index-slider">
    <ul class="bxslider">
      <li id="slide">
        <!-- <%= image_tag("buzz.JPG") %> -->
      </li>
      <li id="slide">
        <!-- <%= image_tag("buzz.JPG") %> -->
      </li>
      <li id="slide">
        <!-- <%= image_tag("buzz.JPG") %> -->
      </li>
    </ul>
  </div>
  <div class="wide-container campaigns-padding">
    <h1>All Campaigns</h1>
    <div id="campaign-index-campaigns">
      <% @campaigns.each do |campaign| %>
        <div class="campaign-view"></div>
      <% end %>
    </div>
    <div class="campaign-go-to">
      <% if can_create_campaign? current_user %>
        <%= link_to "new campaign?", new_campaign_path, class: 'button' %>
      <% else %>
        <% if has_campaign? current_user %>
          <%= link_to "Go to campaign!", campaign_path(current_user.campaign), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
