<div id="campaign-index" class="wide-container">
  <div id="campaign-index-search-container">
    <h1 id="campaign-index-search-headline">Join an Adventure!</h1>
    <%= form_tag campaigns_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a project..." %>
    <% end %>
  </div>
  <div class="wide-container">
    <h1 id="campaign-index-header">All Campaigns</h1>
    <div id="campaign-index-campaigns">
      <% @campaigns.each do |campaign| %>
        <%= link_to campaign_path(campaign) do %>
          <div class="campaign-index-view">
            <%= render 'campaign_index_partial', campaign: campaign %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="campaign-go-to">
      <% if can_create_campaign? current_user %>
        <%= link_to "new campaign?", new_campaign_path, class: 'button' %>
      <% else %>
        <% if has_campaign? current_user %>
          <%= link_to "Go to campaign!", campaign_path(current_user.campaign), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
