<div id="campaigns-create-background">
  <div class="small-container campaigns-create-padding">
    <div class="campaigns-create-header">
      <div class="campaigns-create-tab campaigns-create-tab-colored" id="campaigns-create-tab-one">
        <span class="campaigns-create-tab-number">1.</span>
        <span>Basics</span>
      </div>
      <div class="campaigns-create-tab" id="campaigns-create-tab-two">
        <span class="campaigns-create-tab-number">2</span>
        <span>Description</span>
      </div>
      <div class="campaigns-create-tab" id="campaigns-create-tab-three">
        <span class="campaigns-create-tab-number">3</span>
        <span>Photo</span>
      </div>
    </div>
    <div class="campaigns-create-body">
      <h4 id="campaigns-create-title">Create a Campaign</h4>
      <%= render "campaign_form" %>
    </div>
    <div class="campaigns-create-picture-options-container">
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-one.png") %>" onclick="campaignsChoosePicture('campaigns-create-picture-option-one')" alt="image preview" id="campaigns-create-picture-option-one" data-url="create-pic-one.png"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-two.png") %>" onclick="campaignsChoosePicture('campaigns-create-picture-option-two')" alt="image preview" id="campaigns-create-picture-option-two" data-url="create-pic-two.png"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-three.png") %>" onclick="campaignsChoosePicture('campaigns-create-picture-option-three')" alt="image preview" id="campaigns-create-picture-option-three" data-url="create-pic-three.png"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-four.png") %>" onclick="campaignsChoosePicture('campaigns-create-picture-option-four')" alt="image preview" id="campaigns-create-picture-option-four" data-url="create-pic-four.png"/>
    </div>
<!--     <div class="campaigns-create-missing-picture-container">
      Are you sure you don't want to upload a photo?
      <div class="campaigns-create-missing-button">Hello</div>
      <div class="campaigns-create-missing-button">Hello</div>
    </div> -->
  </div>
</div>
