<div id="campaigns-create-background">
  <div class="small-container campaigns-create-padding">
    <div class="campaigns-create-header"></div>
    <div class="campaigns-create-body">
      <h4 id="campaigns-create-title">Create Your Campaign</h4>
      <%= render "campaign_form" %>
    </div>
    <div class="campaigns-create-picture-options-container">
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-one.png") %>" onclick="campaignsChoosePicture('one')" alt="image preview"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-two.png") %>" onclick="campaignsChoosePicture('two')" alt="image preview"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-three.png") %>" onclick="campaignsChoosePicture('three')" alt="image preview"/>
      <img class="campaigns-create-picture-option" src="<%= asset_path("create-pic-four.png") %>" onclick="campaignsChoosePicture('four')" alt="image preview"/>
    </div>
  </div>
</div>
