<div class="campaign-wrapper">
  <div class="wide-container padding">
    <h1><%= @campaign.name %></h1>
  </div>
  <div class="medium-container">
    <div class="campaign-info-wrapper">
      <div id="campaign-adventure"></div>
      <div id="campaign-info">
        <div class="campaign-info-container">
          <div id="campaign-picture">
            <%= image_tag(@campaign.picture_url) unless @campaign.picture_url.nil? %>
          </div>
          <div id="campaign-by-names">
            <p id="campaign-by-font">Campaign By:</p>
            <h2 id="campaign-owner-font">by <%= @team.name %></h2>
          </div>
        </div>
        <div class="campaign-info-container">
          <h1 id="campaign-donation"><%= number_to_currency @total_donations %><div id="campaign-donation-usd">USD</div></h1>
          <p id="campaign-total">Raised out of <%= number_to_currency @campaign.goal %></p>
        </div>
        <div class="campaign-info-container">
          <div id="campaign-progress"></div>
        </div>
        <div class="campaign-info-container"></div>
        <div id="campaign-info-button"></div>
      </div>
    </div>
  </div>
  <div class="wide-container padding">
    <h1>Campaign Overview</h1>
  </div>
  <div class="medium-container">
    <div class="campaign-overview-wrapper"></div>
  </div>
</div>


<div class="medium-container padding">
  <h1><%= @campaign.name %></h1>
  <h2>by <%= @team.name %></h2>
  <h4>
    Description:
    <%= @campaign.description %>
  </h4>

  <%= image_tag(@campaign.picture_url) unless @campaign.picture_url.nil? %>

  <h4>
    <strong><%= number_to_currency @total_donations %></strong> pledged of
    <%= number_to_currency @campaign.goal %> goal
  </h4>

  <p>
    <strong>Duration:</strong>
    <%= @campaign.duration %>
  </p>

  <p>
    <strong>Backers:</strong>
    <%= @donations.count %>
  </p>

  <p>
    <strong>Donations:</strong>
    <% if @campaign.donations.any? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        <% @donations.each do |donation| %>
          <tr>
            <td><%= donation.name %></td>
            <td><%= number_to_currency donation.amount %></td>
          </tr>
        <% end %>
      </table>
      <% if @total_donations >= @campaign.goal %>
        <p>Campaign success!</p>
      <% else %>
        <p>Campaign incomplete!</p>
      <% end %>
    <% else %>
      No donations!
    <% end %>
  </p>

  <%= link_to "index", campaigns_path %> | <%= link_to "edit", edit_campaign_path(@campaign) %> | <%= link_to "donate", new_campaign_donation_path(@campaign) %>
</div>
