<div class="campaign-wrapper">
  <div class="wide-container padding">
    <h1><%= @campaign.name %></h1>
  </div>
  <div class="medium-container">
    <div class="campaign-info-wrapper">
      <div id="campaign-adventure"></div>
      <div id="campaign-info">
        <div class="campaign-info-container">
          <div id="campaign-picture">
            <%= image_tag(@campaign.picture_url) unless @campaign.picture_url.nil? %>
          </div>
          <div id="campaign-by-names">
            <p id="campaign-by-font">Campaign By:</p>
            <h2 id="campaign-owner-font">by <%= @team.name %></h2>
          </div>
        </div>
        <div class="campaign-info-container" id="campaign-money-container">
          <h1 class="campaign-info-margin" id="campaign-donation"><%= number_to_currency @total_donations %><span style="font-size:30px">USD</span></h1>
          <p id="campaign-total">Raised out of <%= number_to_currency @campaign.goal %></p>
        </div>
        <div class="campaign-info-container" id="campaign-progress-container">
          <div class="campaign-info-margin" id="campaign-progress"></div>
        </div>
        <div class="campaign-info-container campaign-detail">
          <div class="campaign-vectors"></div>
          <div class="campaign-numbers">
            <p class="campaign-numbers-font" id="campaign-numbers-font-yellow"><%= @donations.count %></p><p class="campaign-numbers-font">backers</p>
          </div>
          <div class="campaign-vectors" id="campaign-clock"></div>
          <div class="campaign-numbers">
              <p class="campaign-numbers-font" id="campaign-numbers-font-yellow">42<%= @campaign.duration %></p><p class="campaign-numbers-font">days left</p>
          </div>
        </div>
        <div id="campaign-info-button">
          <%= link_to "DONATE NOW", new_campaign_donation_path(@campaign), class: "button", id: "campaign-donate-button" %>
        </div>
      </div>
    </div>
  </div>
  <div class="wide-container">
    <h1>Campaign Overview</h1>
    <div class="campaign-tabs">
      <ul class="campaign-tab-links">
        <li class="campaign-active"><a href="#campaign-tab1">ABOUT</a></li>
        <li><a href="#campaign-tab2">BACKERS</a></li>
        <li><a href="#campaign-tab3">TAB 3</a></li>
        <li><a href="#campaign-tab4">TAB 4</a></li>
      </ul>

      <div class="campaign-tab-content">
        <div id="campaign-tab1" class="campaign-tab campaign-active-tab">
          <p>Tab 1 Content Here!</p>
        </div>
        <div id="campaign-tab2" class="campaign-tab">
          <p>Tab 2 Content Here!</p>
        </div>
        <div id="campaign-tab3" class="campaign-tab">
          <p>Tab 3 Content Goes Here!</p>
        </div>
        <div id="campaign-tab4" class="campaign-tab">
          <p>Tab 4 Content Goes Here!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-container">
    <div class="campaign-overview-wrapper"></div>
  </div>
</div>


<div class="medium-container padding">
  <h1><%= @campaign.name %></h1>
  <h2>by <%= @team.name %></h2>
  <h4>
    Description:
    <%= @campaign.description %>
  </h4>

  <%= image_tag(@campaign.picture_url) unless @campaign.picture_url.nil? %>

  <h4>
    <strong><%= number_to_currency @total_donations %></strong> pledged of
    <%= number_to_currency @campaign.goal %> goal
  </h4>

  <p>
    <strong>Duration:</strong>
    <%= @campaign.duration %>
  </p>

  <p>
    <strong>Backers:</strong>
    <%= @donations.count %>
  </p>

  <p>
    <strong>Donations:</strong>
    <% if @campaign.donations.any? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        <% @donations.each do |donation| %>
          <tr>
            <td><%= donation.name %></td>
            <td><%= number_to_currency donation.amount %></td>
          </tr>
        <% end %>
      </table>
      <% if @total_donations >= @campaign.goal %>
        <p>Campaign success!</p>
      <% else %>
        <p>Campaign incomplete!</p>
      <% end %>
    <% else %>
      No donations!
    <% end %>
  </p>

  <%= link_to "index", campaigns_path %> | <%= link_to "edit", edit_campaign_path(@campaign) %> | <%= link_to "donate", new_campaign_donation_path(@campaign) %>
</div>
