<div class="medium-container campaigns-padding">
  <h1><%= @campaign.name %></h1>
  <h2>by <%= %></h2>
  <h4>
    Description:
    <%= @campaign.description %>
  </h4>

  <h4>
    <strong><%= number_to_currency @total_donations %></strong> pledged of
    <%= number_to_currency @campaign.goal %> goal
  </h4>

  <p>
    <strong>Deadline:</strong>
    <%= @campaign.deadline %>
  </p>

  <p>
    <strong>Backers:</strong>
    <%= @donations.count %>
  </p>

  <p>
    <strong>Donations:</strong>
    <% if @campaign.donations.any? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        <% @donations.each do |donation| %>
          <tr>
            <td><%= donation.name %></td>
            <td><%= number_to_currency donation.amount %></td>
          </tr>
        <% end %>
      </table>
      <% if @total_donations >= @campaign.goal %>
        <p>Campaign success!</p>
      <% else %>
        <p>Campaign incomplete!</p>
      <% end %>
    <% else %>
      No donations!
    <% end %>
  </p>

  <%= link_to "index", campaigns_path %> | <%= link_to "edit", edit_campaign_path(@campaign) %> | <%= link_to "donate", new_campaign_donation_path(@campaign) %>
</div>
