<div class="medium-container">
  <p>
    <strong>Name:</strong>
    <%= @campaign.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @campaign.description %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= number_to_currency @campaign.goal %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= number_to_currency @campaign.goal %>
  </p>
  <%= link_to "index", campaigns_path %> | <%= link_to "edit", edit_campaign_path(@campaign) %>
</div>
