<div class="medium-container campaigns-padding">

  <h1><%= @campaign.name %></h1>
  <h2>by <%= @team.name %></h2>

  <p>
    <strong>Description:</strong>
    <%= @campaign.description %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= number_to_currency @campaign.goal %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @campaign.deadline %>
  </p>

  <p>
    <strong>Donations:</strong>
    <% if @campaign.donations.any? %>
      <% @total = 0 %>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        <% @donations.each do |donation| %>
          <% @total += donation.amount %>
          <tr>
            <td><%= donation.name %></td>
            <td><%= number_to_currency donation.amount %></td>
          </tr>
        <% end %>
      </table>
      <h2>Total: <%= number_to_currency @total %></h2>
      <% if @total >= @campaign.goal %>
        <p>Campaign success!</p>
      <% else %>
        <p>Campaign incomplete!</p>
      <% end %>
    <% else %>
      No donations!
    <% end %>
  </p>

  <%= link_to "index", campaigns_path %> | <%= link_to "edit", edit_campaign_path(@campaign) %> | <%= link_to "donate", new_campaign_donation_path(@campaign) %>
</div>
