<!DOCTYPE html>
<html>
<head>
  <title>Elevate Africa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<div class="general-wrapper">
  <%= yield %>
</div>
<%= render 'shared/flash', flash: flash %>
<%= render 'shared/footer' %>
</body>
</html>
